---
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";
// import branny from "../images/branny.jpg";

const meta = {
	title: "about",
	description: "About the author and this blog",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">about</h1>
	<!-- <Image src={branny} alt="branny" width="50" height="50" /> -->
	<div class="prose prose-sm prose-cactus max-w-none">
		<p class="mb-4">hi, my name is jin kwon. i'm a software engineer based in seoul.</p>
		<p class="mb-4">this is my blog where i share my memories, mostly dev-related.</p>
		<br />
		<h4>Background</h4>
		<p>B.S. in Electrical & Electronic Engineering, Yonsei University.</p>
		<p>Currently a software engineer at <u>SK AX</u> since 2024.</p>

		<br />

		<h4>Interests</h4>
		<ul>
			<li>Cracking problems with software</li>
			<li>System Performance and Reliability</li>
			<li>Music and Gaming</li>
		</ul>
	</div>
</PageLayout>
