---
import { Icon } from "astro-icon/components";
---

<a
	class="hover:text-accent ms-auto flex h-9 w-9 items-center justify-center rounded-md"
	href="https://github.com/cosy363"
	target="_blank"
>
	<span class="sr-only">Github</span>
	<Icon aria-hidden="true" class="h-7 w-7" focusable="false" name="mdi:github" />
</a>
